* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow-y: scroll;
}

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  background-color: #9B2743;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  margin-top: 120px;
}

.navbar {
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
  margin-right: 35px;
  height: 60px;
  line-height: 60px;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navbar-link:hover {
  color: #4d1321;
}


.bold {
  font-weight: 400;
}

.logo {
  background-size: cover;
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-top: 10px;
}

.liLogo {
  float: right;
}
.navMore {
  color: #fff;
  position: relative;
  top: -7px;
}

.navMoreBox {
  position: absolute;
  background-color: #87223a;
  right: -34px;
  top: 59px;
  float: left;
  width: 150px;
  box-sizing: border-box;
  border-bottom-left-radius: 3px;
  border-left: 4px solid #9B2743;
  border-right: 4px solid #9B2743;
  border-bottom: 4px solid #9B2743;
  border-bottom-right-radius: 3px;
}
.navMoreBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navMoreBox ul li {
  width: 100%;
  display: inline-block;
  padding: 6px 0px;
  margin: 0;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.navMoreBox ul li:hover { background-color: #9b2743; }
.navMoreBox ul li a { width: 100%; padding: 0px 10px; display: inline-block; cursor: pointer; color: #fff; }
