@font-face {
    font-family: "Open Sans";
    font-style: normal;
    src: local('Open Sans'), url('../opensans/OpenSans-Regular.ttf')
}

html, body {
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

a, a:hover {
    color: none;
    text-decoration: none;
}
.up {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);;
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.up p {
  margin: 0;
}
.main {
    background-image: url('../images/main.jpg');
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.2) 100%), url('../images/main.jpg') no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))), url('../images/main.jpg') no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.2) 100%), url('../images/main.jpg') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.2) 100%), url('../images/main.jpg') no-repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.2) 100%), url('../images/main.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 520px;
}

.main-nav {
    width: 100%;
    height: 74px;
    text-align: center;
}

.main-outer {
    float: left;
    width: 20%;
    height: 100%;
    line-height: 100px;
}

.main-inner, .hamburger-items {
    float: left;
    width: 60%;
    height: 100%;
    line-height: 100px;
    font-family: 'Droid Sans', sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.hamburger-items {
    background-color: black;
    position: absolute;
    left: 0;
    top: 92;
}

.main-inner div, .hamburger-items div {
    float: left;
    color: white;
    width: 20%;
    height: 100%;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-bottom: 2px solid transparent;
}

.main-inner div:hover {
    color: #e0bf31;
    border-bottom: 2px solid #e0bf31;
}

.main-header {
    text-align: center;
    color: white;
    font-size: 3.5em!important;
    font-weight: 600;
    display: inline;
}

.text-column {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: white;
    padding: 20px;
    box-shadow: 7px 5px 15px #03030333;
    -webkit-box-shadow: 7px 5px 15px gray;
    display: table;
}

.main-area-header {
    color: #7184d7;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom-area-header {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-content-header {
    color: #7184d7;
    text-align: center;
    border-bottom: 1px solid #7184d7;
    font-variant: small-caps;
    font-size: 22px;
    font-weight: 600;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main-content-header p {
    margin: 4px;
}

.main-area-content {
    font-size: 0.7em;
    color: #3e3c3c;
}

.main-area-content p {
    margin-top: 10px;
}

.main-bottom {
    background-image: url('../images/main2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 50%;
    float: left;
    width: 100%;
}

.main-end {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.footer {
    background-color: #2f2e2e;
    float: left;
    width: 100%;
    min-height: 360px;
}
.footer-box {
  background-color: white;
  height: 15px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.first {
  background-color: #d77171;
}
.second {
  background-color: #d7bd71;
}
.third {
  background-color: #90d771;
}
.fourth {
  background-color: #71a1d7;
}
.footer-cell {
    float: left;
    color: white;
    font-size: 18px;
    width: 25%;
    text-align: left;
    font-variant: small-caps;
}

.footer-cell p {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 1px;
}

.hamburger {
    display: none;
    float: left;
    color: white;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-bottom: 2px solid transparent;
    margin-left: 10px;
    width: 50px;
    margin-top: 27px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.hamburger i {
    font-size: 60px;
}

.hamburger:hover, .up:active {
    color: #e0bf31;
    cursor: pointer;
}

.up:hover {
  cursor: pointer;
}

/* MEDIA */

@media screen and (max-width: 880px) {
    .text-column {
        width: 75%;
    }
}

@media screen and (min-width: 1160px) {
    .main-inner {
        display: initial;
    }
    .hamburger-items {
        display: none!important;
    }
}

@media screen and (max-width: 1159px) {
    .main {
        height: 130px;
    }
    .main-nav {
        text-align: left;
        display: none;
    }
    .main-inner {
        display: none;
    }
    .hamburger {
        display: initial;
    }
    .hamburger-items {
        width: 160px;
        height: 246px;
        display: none;
    }
    .hamburger-items div {
        float: none;
        height: 44px;
        width: 100%;
        line-height: 56px;
        margin-left: 20px;
    }
    .hamburger-items div:hover {
        color: #e0bf31;
    }
    .main-outer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-header {
        display: inherit;
        text-align: initial;
        padding-left: 80px;
        font-size: 3.2em !important;
    }
}

@media screen and (max-width: 639px) {
    .main-header {
        font-size: 1.4em!important;
        padding-top: 24px;
        text-align: initial;
    }
    .hamburger i {
        font-size: 40px;
    }
}
