@font-face {
    font-family: "Raleway";
    font-style: normal;
    src: local('Raleway'), url('../inc/widgets/ottelu/raleway/Raleway-Regular.ttf')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

html {
    height: 100%;
}

body {
    overflow-y: scroll;
}

a {
    color: red;
}

a:hover {
    color: rgba(255, 0, 0, 0.7);
}

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
}

.wrapper {
    margin-top: 125px;
}

.navbar {}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-right: 21px;
    height: 60px;
    line-height: 60px;
}

.navbar-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

.navbar-link:hover {
    color: red;
}

.bold {
    font-weight: 400;
}

.logo {
    background-size: 100% 100%;
    display: inline-block;
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin-top: 13px;
    border: 2px solid rgba(255, 255, 255, .3);
    background-repeat: no-repeat;
    background-color: #fff;
}

.li-logo {
    padding: 10px 0px;
    line-height: initial;
    margin-right: 10px;
}

.li-logo .open-nav, .li-logo .change-team, .btn {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.li-logo .change-team {
    border-radius: 50%;
    padding: 4px;
    margin-right: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.btn {
    margin: 0;
}

.btn .arrow {
    position: relative;
    top: 16px;
    left: 16px;
    cursor: pointer;
}

.btn .arrow:hover {
    color: #ccc;
}

.ctx {
    border: 1px solid #ccc;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #f5f5f5;
    float: left;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.ctx:hover, .li-logo .change-team:hover {
    background-color: #f7f7f7;
}

.ctx .ctx-r {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
}

.ctx .avatar {
    width: 40px;
    height: 40px;
    background-image: url('../images/logos/joukkue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ctx .name {
    float: left;
    position: relative;
    top: 13px;
    padding: 0px 15px 0px 10px;
    font-size: 14px;
    letter-spacing: .2rem;
    color: #555;
}

#msg {
    position: fixed;
    display: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    z-index: 999;
    left: 0;
    bottom: 0;
}

.msg-fail {
    background-color: #e80000;
}

.msg-success {
    background-color: green;
}

#share {
    position: fixed;
    display: none;
    background-color: white;
    border: 3px solid grey;
    color: black;
    width: 450px;
    padding: 25px;
    z-index: 999;
    left: 35%;
}

#title {
    font-size: 35px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

#close {
    cursor: pointer;
    font-size: 25px;
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    top: -20px;
    right: -10px;
    float: right;
    width: 20px;
}

#close2 {
    cursor: pointer;
    font-size: 18px;
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    top: -38px;
    right: 8px;
    float: right;
    height: 0px;
}

#fb-btn:hover {
    background-color: #2A279B !important;
}

#twitter-btn:hover {
    background-color: #702796 !important;
}

#whatsapp-btn:hover {
    background-color: #2A9B27 !important;
}

#email-btn:hover {
    background-color: #F69F00 !important;
}

#link-app-btn:hover {
    background-color: #2A9B27 !important;
}

#cover {
    display: none;
    position: fixed;
    background-color: #0003;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}

#back {
    color: #3D3C74;
    cursor: pointer;
    position: relative;
    f loat: left;
    font-size: 45px;
    right: 50px;
    border: 1px solid #ccc;
}

#forward {
    color: #3D3C74;
    cursor: pointer;
    position: relative;
    float: right;
    font-size: 45px;
    left: 50px;
    border: 1px solid #ccc;
}

#back:hover {
    right: 56px;
    color: #4C4B90;
    background-color: whitesmoke;
}

#forward:hover {
    left: 56px;
    color: #4C4B90;
    background-color: whitesmoke;
}

.remove-btn {
    color: #FFF;
    background-color: #cf2f2f;
}

.remove-btn:hover, .remove-btn:focus {
    color: #FFF;
    background-color: #c50202 !important;
}

@media screen and (min-width: 1140px) {
    #section1, #section2, #section3, #section4, #section5, #section6, #section7 {
        float: left;
        width: 60px;
        height: 60px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background-color: #26b3b3;
    }
    #section1, #section2, #section3, #section4, #section5, #section6, #section7:hover {}
    .guide-header {
        margin: 0;
        font-size: 18px;
        position: relative;
        bottom: 40px;
        right: 15px;
        white-space: pre;
    }
    #guide a i {
        position: relative;
        bottom: 15px;
        font-size: 35px;
        color: white;
    }
    #section1 .guide-header {
        right: 40px;
    }
    .line {
        float: left;
        width: 90px;
        height: 10px;
        background-color: #26b3b3;
        margin-top: 24px;
    }
}

@media screen and (max-width: 1139px) {
    #section1, #section2, #section3, #section4, #section5, #section6, #section7 {
        float: left;
        width: 60px;
        height: 60px;
        /*-moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;*/
        background-color: #26b3b3;
    }
    #section1, #section2, #section3, #section4, #section5, #section6, #section7:hover {}
    .guide-header {
        display:none;
        margin: 0;
        font-size: 13px;
        position: relative;
        bottom: 40px;
        right: 15px;
        white-space: pre;
    }
    #guide a i {
        position: relative;
        bottom: -9px;
        font-size: 35px;
        color: white;
    }
    #section1 .guide-header {
        right: 40px;
    }
    .line {
        display:none;
        float: left;
        width: 4%;
        height: 10px;
        background-color: #26b3b3;
        margin-top: 24px;
    }
}

#phone {
    position: relative;
    left: 20px;
    float: left;
    width: 360px;
    height: 680px;
    background-image: url('../images/phone.png');
    background-repeat: no-repeat;
}

#ad-selector {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../inc/widgets/ottelu/images/hockey.jpg');
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 328px;
    height: 572px;
    top: 3px;
}

.reserved {
    cursor: not-allowed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid red;
    width: 300px;
    height: 98px;
    line-height: 71px;
}

.free {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid transparent;
    width: 300px;
    height: 98px;
    line-height: 71px;
}

.free img {
    width: 100%;
    height: 100%;
}

.reserved img {
    width: 100%;
    height: 100%;
}

#popup-text {
    width: 293px;
    height: 103px;
    max-width: 293px;
    max-height: 103px;
    min-width: 293px;
    min-height: 103px;
}

#popup-text-preview {
    word-break: break-all;
}

#popup-window {
    background-color: white;
    border: 2px solid gray;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    height: 200px;
    box-sizing: content-box;
}

.preview {
    font-family: "Raleway", sans-serif;
    color: white;
}

h2.preview {
    text-transform: uppercase;
}

h3.preview {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
}

h5.preview {
    line-height: 1.2;
}

.zoom-minus {
    float: left;
    margin-left: 5%;
    font-size: 30px;
    line-height: 20px;
    color: gray;
}

.zoom-plus {
    float: right;
    margin-right: 5%;
    font-size: 30px;
    line-height: 20px;
    color: gray;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}


/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}


/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}


/* All the same stuff for IE */

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

#event-buttons {
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #D1D1D1;
    padding-top: 5px;
    background-color: white;
    height: 54px;
}

#event-buttons input {
    margin-bottom: 0;
}

.picker__holder {
    bottom: 0px;
    left: 340px;
}
.email {
  text-transform: none;
}
