@font-face {
    font-family: "Raleway";
    font-style: normal;
    src: local('Raleway'), url('../raleway/Raleway-Regular.ttf')
}

html {
    height: 100%;
}

body {
    background-color: black;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
}

.background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hockey {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/hockey.jpg');
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/hockey.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    height: 100%;
    width: 100%;
    background-color: #fff;
    min-height: 79px;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-top: 7px;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

nav a {
    font-weight: 600;
    text-decoration: none;
    background-color: #e2e2e2;
    float: left;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 16px !important;
    color: #000000;
    line-height: 45px;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: all 200ms;
    / transition: all 200ms;
}

#share-header {
    text-align: center;
    color: white;
}

#fullscreen {
    background-color: #1EAEDB;
    color: white;
}

#fullscreen:active, #fullscreen:focus, #fullscreen:hover {
    background-color: #1EAEDB;
    color: #fff;
}

.off a:hover {
    color: black;
}

h1.title {
    font-weight: 100;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.game-name h1 {
    font-weight: 100;
    font-size: 55px;
}

.game-name, .game-time, .game-place, .game-date, .guess-name {
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 42px;
}

#list-home, #list-visitors {
    color: white;
    font-size: 25px;
}

#content-wrapper {
    display: none;
    overflow: hidden;
}

.game-share a {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    background-color: #e2e2e2;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    font-size: 42px;
    color: #000000;
    line-height: 68px;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: all 200ms;
    / transition: all 200ms;
}


/*Pysty*/

@media screen and (max-width: 2280px) {
    #up {
        height: 90%;
        width: 100%;
        float: left;
        overflow-y: scroll;
    }
    #popup {
        width: 90%;
        top: 20%;
    }
    #popup-text {
        min-width: 340px;
        max-width: inherit;
    }
    #popup-ad img {
        width: 100%;
    }
    .game-share {
        text-align: center;
        position: fixed;
        top: 50%;
        width: 100%;
        left: 0;
        right: 0;
    }
    .game-share a {
        float: left;
    }
    #facebook, #twitter, #whatsapp {
        display: inline-block;
        padding: 10px;
    }
    #share-header {
        display: initial;
    }
    #space {
        height: 90px;
    }
}


/*Vaaka*/

@media screen and (max-height: 410px) {
    #up {
        height: 45%;
        width: 100%;
        float: left;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #popup {
        width: 75%;
        top: 5%;
    }
    #popup-ad img {
        width: 80%;
    }
    #sponsor-logos a img {
        width: 40%;
    }
    #sponsor-logos img {
        width: 40%;
    }
    .game-share {
        text-align: center;
        width: 20%;
        position: absolute;
        left: 90%;
        top: -1%;
    }
    .game-share a {
        width: 62px;
        height: 62px;
        font-size: 38px;
        line-height: 62px;
    }
    #facebook, #twitter, #whatsapp {
        padding: 5px;
    }
    #share-header {
        display: none;
    }
    #space {
        height: 30px;
    }
    #bottom {
        padding-bottom: 20px;
    }
}

#bottom {
    position: fixed;
    height: 12%;
    width: 100%;
    bottom: 0;
    z-index: 998;
}

#popup {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border: 3px solid grey;
    color: black;
    padding: 10px;
    z-index: 999;
    font-family: "Ubuntu";
}

#close {
    cursor: pointer;
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -10px;
    left: 10px;
    float: right;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#cover {
    display: none;
    position: fixed;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    /*Standard*/
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}

#popup-ad {
    z-index: 999;
    text-align: center;
    width: 100%;
}

#popup-text {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    font-family: "Ubuntu";
}


/* https://github.com/tobiasahlin/SpinKit */

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
svg > g > g:last-child { pointer-events: none; }
